<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <link rel="stylesheet/less" type="text/css" href="less/main.less">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>